<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2025-06-17T15:12:15.1305110+02:00</FirstRunDate>
  <Version>3</Version>
  <FormStates>
    <FormState>
      <Name>MacPreviewForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>431</Width>
        <Height>408</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ProfilesForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>MacDesktopForm</Name>
      <Location>
        <X>114</X>
        <Y>94</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <BackgroundOperations>
    <String>ImportOperation</String>
  </BackgroundOperations>
  <PdfSettings />
  <ImageSettings />
  <HasBeenPromptedForDonation>true</HasBeenPromptedForDonation>
  <LastDonatePromptDate>2025-09-18T17:50:56.1727670+02:00</LastDonatePromptDate>
  <DeviceListAsTextOnly>true</DeviceListAsTextOnly>
</UserConfig>